*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.introduction{
    width: 100%;
    min-height: 100vh;
    background-image: url("images/slider1.jpeg");
    background-size: cover;
    animation: slider 15s alternate infinite ease-in-out;
}
@keyframes slider {
    0%{
        background-image: url("images/slider1.jpeg");
    }
    50%{
        background-image: url("images/slider2.jpeg");
    }
    100%{
        background-image: url("images/slider3.jpeg");
    }
}
.header{
    width: 83%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
}
.links{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    color: #282828;
    padding: 40px 10px;
    transition: all 0.2s;
    font-family: 'Poppins',sans-serif;
}
.active{
    color: #fff;
}
.link:hover{
    color: #fff;
}
.cart-container{
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.cart{
    position: relative;
}
.cart-order{
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 0;
    font-size: 12px;
}
.cart:hover .cart-order{
    color: #282828;
}
.order-container{
    width: 83%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 150px auto;
}
.order-heading1{
    font-size: 32px;
    color: #fff;
    font-family: 'Pattaya',sans-serif;
    text-shadow: -4px 4px 0px rgba(0,0,0,0.2);
    text-transform: capitalize;
}
.order-heading2{
    font-size: 82px;
    color: #000;
    font-family: 'Pattaya',sans-serif;
    text-shadow: -4px 4px 0px rgba(0,0,0,0.2);
}
.order-description{
    width: 35%;
    font-size: 17px;
    font-weight: 600;
    color: #282828;
    padding: 40px 10px;
    font-family: 'Poppins',sans-serif;
}
.order-btn{
    width: 200px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    color: #282828;
    background-color: #fff;
    transition: all 0.2s;
    font-family: 'Poppins',sans-serif;
    padding: 18px 40px;
    border-radius: 100px;
}
.order-btn:hover{
    color: #fff;
    background-color: #282828;
}
/* category section started */
.category{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}
.right-leaf{
    position: absolute;
    top: 10%;
    right: 10%;
}
.category-heading__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-heading{
    font-size: 62px;
    font-weight: 600;
    color: #000;
    font-family: 'Pattaya',sans-serif;
    text-transform: capitalize;
}
.categories{
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.category-card{
    width: 240px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.category-card:hover .category-image__container{
    outline-color: #ffe401;
}
.category-card:hover .category-card__name{
    color: #fcb900;
}
.category-image__container{
    width: 190px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 15px solid #fafafa;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.category-image__container img{
    width: 120px;
    height: 120px;
}
.category-card__name{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.category-btn{
    width: 200px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    color: #282828;
    background-color: #ffe401;
    transition: all 0.2s;
    font-family: 'Poppins',sans-serif;
    padding: 18px 40px;
    border-radius: 100px;
}
.category-btn:hover{
    color: #fff;
    background-color: #282828;
}
/* category section finished */